.layout-container {
  width: 100%;
  height: 100%;

  .layout-container-header {
    padding: 20px 10px 10px 10px;
  }

  .layout-container-body {
    padding: 10px;
  }

  .layout-container-footer {
    padding: 10px;
  }
}