.sidebarmenu {
  height: calc(100vh - 85px);
  $sidebar-controls-width: 68px;

  .sidebarmenu-controls {
    float: left;
    width: $sidebar-controls-width;
    height: 100%;
    background-color: #151515;
    border-right: 1px solid #242424;
  }

  .sidebarmenu-panels {
    float: left;
    width: calc(100% - #{$sidebar-controls-width} - 2px);
    height: 100%;
    background-color: #151515;
    border-right: 1px solid #242424;
    overflow-y: auto;
    overflow-x: hidden;
  }
}