.sidebarmenu {
  height: calc(100vh - 68px);
  $sidebar-controls-width: 68px;
  background-color: #151515;
  border-right: 1px solid #242424;

  .sidebarmenu-controls {
    max-width: $sidebar-controls-width;
    min-width: $sidebar-controls-width;
    height: 100%;
    background-color: #121212;
    border-right: 1px solid #242424;
  }

  .sidebarmenu-panels {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #151515;
  }
}