.tablemanager-datatable {

  .MuiToolbar-root {
    min-height: 68px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .MuiPaper-root:first-child {
    .MuiPaper-root {
      min-height: 68px !important;
      background-color: #151515 !important;
    }
  }

  button {
    color: #999999 !important;

    &:hover {
      color: #ffffff !important;
    }
  }
}