@import './styles/fonts.scss';

/* Core Style Overrides */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}

body {
  color: #ffffff;
  background-color: #121212;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}